*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.card{
    height: 470px;
    width: 380px;
    background-color: white;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 30px;
    text-align: center;
}

img{
    height: 50%;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card h1{
    margin: 5px 0px 10px 0px;
    font-family: cursive;
}
.card h2{
    font-family:Arial, Helvetica, sans-serif;
    color: red;
    margin-top: 20px;
    margin-bottom: 30px;
}

.button-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

#btn1{
    height: 50px;
    width: 120px;
    font-size: 15px;
}
#btn1:hover{
    cursor: pointer;
}

#btn2{
    height: 50px;
    width: 120px;
    font-size: 15px;
}
#btn2:hover{
    cursor: pointer;
}
